body {
    font-family: 'Roboto', sans-serif;
    ;
    font-size: 16px;
    background-color: #FFFFFF;
    color: #434455;
}


/* section,
header,
footer {
    outline: 2px solid red; 
} */

.list {
    list-style: none;
}


.link {
    text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6,
P {
    margin-top: 0;
    margin-bottom: 0;
}


ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


img {
    display: block;
}


.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* :root{    
--transi: 250ms,cubic-bezier(0.4, 0, 0.2, 1);
} */


/**!------- header ------------*/


.header-page {
    border-bottom: 1px solid #F4F4FD;
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.header-page-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-nav {
    display: flex;
    align-items: center;
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.logo-studio {
    color: #2E2F42;
}


.logo:hover,
.logo:focus {
    color: #404BBF
}


.header-button {
    display: flex;
    align-items: center;
}


.btn-item:not(:last-child) {
    margin-right: 40px;
}


.btn {
    position: relative;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.btn-header-studio::after {
    content: '';
    bottom: -24px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    display: block;
    position: absolute;   
}



.btn:hover,
.btn:focus {
    color: #404BBF;
}


.header-address {
    font-style: normal;
}


.header-link {
    display: flex;
    align-items: center;
}


.btn-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.address-item:not(:last-child) {
    margin-right: 40px;
}


.btn-link:hover,
.btn-link:focus {
    color: #404BBF;
}


/* *!------- section#1 ------------*/


.section-hero {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/backgraundphoto-section-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
}


.hero-container {
    display: flex;
    flex-direction: column;
}


.section-hero-heading {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    width: 496px;
}


.section-hero-btn {
    font-family: "Roboto", sans-serif;
    ;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.section-hero-btn:hover,
.section-hero-btn:focus {
    background-color: #404BBF;
}


/* *!------- section#2 ------------*/


.section-two {
    padding-top: 120px;
    padding-bottom: 120px;
}


.section-two-list {
    display: flex;
    gap: 24px;
}


.icon-section-two {
    display: flex;
    background-color: #F4F4FD;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    padding: 24px 100px;
    justify-content: center;
    align-items: center;
}

.section-two-svg {
    width: 64px;
    height: 64px;
}


.section-two-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-top: 8px;
    margin-bottom: 8px;
}


.section-two-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* *!------- section#3 ------------*/


.section-three {
    padding-bottom: 120px;
}


.section-three-head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}


.section-three-list {
    display: flex;
    gap: 24px;
}


/* *!------- section#4 ------------*/
.section-four {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}


.section-four-head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}


.section-four-list {
    display: flex;
    gap: 24px;
}


.section-four-item {
    background-color: #FFFFFF;
    flex-basis: calc((100%-72px)/4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.card-name {
    padding: 32px 16px;
}


.section-four-name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}


.section-four-text {
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}


.icon-list {
    display: flex;
    gap: 24px;
}

.icon-link {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    fill: #F4F4FD;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.icon-link:hover,
.icon-link:focus{
    background-color:#404BBF;
}


.icon-svg {
    width: 16px;
    height: 16px;
}


/* *!-------sectoion#5 ------------*/
.section-five {
    padding: 120px 0;
}


.head-section-five {
    font-size: 36px;
    line-height: 40px;
    line-height: 1.11;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 72px;
}


.section-five-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}


.section-five-link {
    display: flex;
    width: 168px;
    height: 88px;
    border: solid 1px #8E8F99;
    border-radius: 4px;
    fill: #8E8F99;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.section-five-svg {
    width: 104px;
    height: 56px;
}



.section-five-link:hover,
.section-five-link:focus {

    fill: #404BBF;
    border: solid 1px #404BBF;
}

/* *!------- footer ------------*/




.section-footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}


.logo-studio-footer {
    color: #F4F4FD;
}


.section-footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    width: 264px;
    margin-top: 16px;
}


.footer-list {
    display: flex;
    gap: 120px;
}


.socialmedia {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    
}


.icon-list-footer {
    display: flex;
    gap: 24px;
    padding-top: 16px;
}


.icon-link-footer {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    fill: #F4F4FD;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.icon-link-footer:hover,
.icon-link-footer:focus {
    background-color: #31D0AA;
}


.icon-footer {
    width: 24px;
    height: 24px;
}


.footer-head {
    font-size: 16px;
    line-height: 1.5;    
    letter-spacing: 0.02em;    
    color: #FFFFFF;
   margin-bottom: 16px; 
   font-weight: 500;
   
}

.footer-div{
    display: flex;
    gap: 24px;
}


.footer-input {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
background-color: transparent;
color:#fff;
padding: 8px 16px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer-input:focus{
outline: none;
border: 1px solid #4D5AE5;
}


.footer-input::placeholder{
    font-size: 12px;
line-height: 2;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
}


.footer-button {
    display: flex;
    width: 165px ;
    height: 40px;
    background-color: #4D5AE5;
border-radius: 4px;
letter-spacing: 0.04em;
color: #FFFFFF;
justify-content: center;
align-items: center;
gap: 16px;
padding: 8px 24px;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
border: none;

}


.footer-button:hover,
.footer-button:focus{
    background-color: #404BBF
}

.foter-input-icon{
    fill: #fff;
}


/* *!------- portfolio ------------*/


.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}


.btn-portfolio {
    font-family: 'Roboto', sans-serif;
    ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
    background-color: #F4F4FD;
    color: #4D5AE5;
    height: 48px;
    padding: 12px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow, 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.btn-portfolio:hover,
.btn-portfolio:focus {

    background-color: #404BBF;
    color: #FFFFFF;
    border: 1px solid #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.portfolio-nav {
    justify-content: center;
    display: flex;
}
 

.btn-portfolio-list {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
}


.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}


.portfolio-item {
    width: 360px;
    height: 420px;
}





.portfolio-photo-link {
    display: inline-block;
}


.portfolio-photo-link:hover,
.portfolio-photo-link:focus {
    box-shadow: 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}


.overley-wrapper {
    position: relative;
    overflow: hidden;
}

.overley-text {
    position: absolute;
    background: #4D5AE5;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 40px 32px;
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;

}


.portfolio-photo-link:hover .overley-text,
.portfolio-photo-link:focus .overley-text {
    transform: translate(0, 0)
}


.portfolio-card {
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 32px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}


.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* *!------- modal ------------*/

.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;  
    background-color: #FCFCFC;
    border-radius: 4px;
     padding: 72px 24px 24px ;
}



.modal-close-btn {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    border-color: #404BBF;
    background-color: #404BBF;
}

.modal-close {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-btn:hover .modal-close,
.modal-close-btn:focus .modal-close {
    fill: #fff;
}


.modal-form{
   display: flex;
   flex-direction: column;
   
}


.modal-form-head{    
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
width: 360px;
height: 24px;
}


.modal-label-span{
    display: block;
    font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8E8F99;
margin-bottom: 4px;
margin-top: 8px;
}


.modal-input-span{
position:relative;
}


.modal-form-input{  
   width: 100%;
   height: 40px;
   padding-left: 38px ;
   border: 1px solid rgba(46, 47, 66, 0.4);    
    border-radius: 4px; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);      
}


.modal-form-input:focus,
.modal-form-input-message:focus{
    outline: none;
    border: 1px solid #4D5AE5;
}


.modal-form-input:focus + .modal-form-input-svg{
    fill: #4D5AE5;
}


.modal-form-input-svg{
    position: absolute;
    width: 18px;
    height: 24px;
    top: 50%;    
    left: 16px;
    transform: translate(0,-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-form-input-svg::placeholder{
    font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(142, 143, 153, 0.5);
}


.modal-form-input-message{
    width: 100%;
    height: 120px;
    resize: none;
    padding:8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);    
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


.modal-form-label-check{
    display: flex;
    /* justify-content: center; */
    font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8E8F99;
gap: 8px;
margin-top: 16px;
margin-bottom: 24px;

}


.modal-form-label-check::before{
content:'';
display: block;
width:16px;
height:16px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
cursor: pointer;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-form-input-check:checked + .modal-form-label-check::before{
    background-image: url(../images/click_check.svg);
    background-repeat: no-repeat;
    background-position: center;
}


.modal-form-input-check:focus + .modal-form-label-check::before{
    border: 1px solid #4D5AE5;
}


.hidden{
position: absolute;
overflow: hidden;
clip: rect(0 0 0 0);
width: 1px;
height: 1px;
margin: -1px;
}


.modal-form-button{
    font-family: "Roboto", sans-serif;
    ;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    width: 169px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4D5AE5;
    color: #FFFFFF;   
    border-radius: 4px;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);   
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-form-button:hover,
.modal-form-button:focus{
    background-color:  #404BBF;
}